body { 
	background-color:white;  
	text-align: center; 
}

/* CSS pertaining to the header */
.header {
	margin: auto;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 17.5em;
	padding-bottom: 6.66667em;
	padding-left: 75px;
	padding-right: 75px;
	background-color: LightGray;
}

.header-info {
	height: 100px;
	margin-bottom: 100px;
}
.info-date {
	width: 42.5%;
	font-size: 24px;
	float: left;
	display: block;
	line-height: 100px;
	text-align: right;
}

.logo {
	width: 15%;
	float: left;
	display: block;
	line-height: 100px;
}
.logo img{
	height: 100px;
	width: 100px;
}

.info-location {
	width: 42.5%;
	font-size: 24px;
	float: left;
	display: block;
	line-height: 100px;
	text-align: left;
}
.header-title {
	padding-bottom: 6.66667em;
}
.header-title h1 {
	font-size: 120px;
}

.header-title p {
	font-size: 60px; 
	text-transform: uppercase;
	padding-bottom: 40px;
	padding-right: 10%;
	padding-left: 10%;
}
.btn {
	color: #a71c21;
	font-size: 25px;

}

/* CSS pertaining to the about section */
.about{ 
	background-color:white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5em;
	padding-right: 5em;
}

.about h1{
	font-size: 48px;
}
.about p{
	font-weight: 400;
	font-size: 32px;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 80px;
}
/* CSS for keyInfo */
.keyInfo {
	background-color: #333;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
.time {
	padding-left: 50px;
	font-size: 64px;
	text-transform: uppercase;
}

.people {
	padding-right: 50px;
	font-size: 64px;
	text-transform: uppercase;
}

.location {
	padding-top: 120px;
	font-size: 128px;
	text-transform: uppercase;
}
/* CSS for top banner */
.banner-top {
	background: url("pic5.jpg");
	background-size: cover;
	background-position: 0px -175px;
	background-color: black;
	height: 480px;
	width: 100%;
	margin-bottom: 10px;
}

/* CSS for sponsor section */
.sponsors {
	margin-top: 50px;
	margin-bottom: 50px;
}

.sponsors h1{
	font-size: 48px;
}

/* CSS for bottom banner */
.banner-bottom {
	background: url("pic1.jpg");
	background-size: cover;
	background-position: 0px -140px;
	background-color: black;
	height: 480px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}


/* NOT MY CODE, Try to replace (used for nav bar)*/
.navbar-inverse {
	background-color: #333;
}

.navbar-inverse .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
}
.navbar-inverse .nav li a:hover,s
.navbar-inverse .nav li a:focus {
	color: #d3232a;
	outline: none;
}

.navbar-inverse .navbar-nav > .active > a {
	border-radius: 0;
	color: white;
	background-color: #d3232a ;
}

.avbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
      color: white;
      background-color: #a71c21;
}
