body { 
	background-color:white;  
	text-align: center; 
	/*font-family: "Helvetica";*/
}

/* CSS pertaining to the header */
.header {
	margin: auto;
	margin-top: 0%;
	margin-bottom: 0%;
	background: url("background.png");
	background-repeat: no-repeat;
	/*background-size: 125% 100%;*/
	background-position: 40% 100%;
	position: relative;
	width: 100%;
	height:850px;
}

.header-info {
	position: absolute;
	margin: 0px;
	bottom: 0px;
	right: 0px;
	height: 100px;
	width: 800px;
	background-color: #333;
	color: white;
	opacity: .9;
}
.info {
	width: 25%;
	font-size: 171%;
	display: block;
	line-height: 420%;
	text-align: center;
	display: block;
	margin: 0px;
	position: absolute;
	bottom: 0px;
}

.logo {
	position: absolute;
	width: 550px;
	right: 75px;
	top: 50px;
}
.logo img{
	position: absolute;
	height: 138px;
	width: 800px;
	right: 0px;
}

.header-title {
	padding-bottom: 10%;
}
.header-title h1 {
	font: Arial;
	font-size: 900%;
	background-color: #a71c21;
	color: #333;
	margin: 0px;
	position: absolute;
	height: 138px;
	width: 800px;
	right: 0px;
	top: 278px;
	opacity: .9;

}

.header-title p {
	font-size: 325%; 
	text-transform: uppercase;
	margin-top: 0px;
	background-color: #333;
	color: white;
	position: absolute;
	top: 222px;
	right: 0px;
	width:705px;
	height: 140px;
	opacity: .9;

}

.btn-wrapper {
	background-color: #333;
	padding-top: 10px;
	position: absolute;
	margin: 0px;
	top: 352px;
	right: 0px;
	height: 100px;
	width: 705px;
	opacity: .9;
	line-height: 17.5%;
}

.btn {
	color: maroon;
	opacity: 1;
	font-size: 135%;
	
}

/* CSS pertaining to the about section */
.about{ 
	background-color:white;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 5em;
	padding-right: 5em;
}

.about h1{
	font-size: 350%;

}
.about p{
	font-weight: 400;
	font-size: 225%;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 5%
}
/* css email */
.mc_embed_signup{
	text-align: center;
}

.mc-field-group{
	width: 20%;
	margin-left: 40%;
	margin-right: 40%;
	padding-bottom: 20px;
}

/* CSS for keyInfo */
.keyInfo {
	background-color: #333;
	color: white;
	padding-top:4%;
	padding-bottom:4%;
}
.time {
	padding-left: 4%;
	font-size: 425%;
	text-transform: uppercase;
}

.people {
	padding-right: 4%;
	font-size: 425%;
	text-transform: uppercase;
}

.location {
	padding-top: 10%;
	font-size: 850%;
	text-transform: uppercase;
}
/* CSS for top banner */
.banner-top {
	background: url("pic5.JPG");
	background-size: cover;
	background-position: 0% 35%;
	background-color: #333;
	height: 480px;
	width: 100%;
	margin-bottom: 1%;
}

/* CSS for sponsor section */
.sponsors {
	margin-top: 4%;
	margin-bottom: 4%;
}

.sponsors h1{
	font-size: 350%;
	margin-bottom: 20px;
}

.faq{
	padding-bottom: 100px;
}
/* CSS for bottom banner */
.banner-bottom {
	background: url("pic1.jpg");
	background-size: cover;
	background-position: 0% 35%;
	background-color: black;
	height: 480px;
	width: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
}


/* NOT MY CODE, Try to replace (used for nav bar)*/
.navbar-inverse {
	background-color: #333;
}

.navbar-inverse .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.navbar-inverse .nav li p {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    padding: 15px;
}
.navbar-inverse .nav li a:hover,s
.navbar-inverse .nav li a:focus {
	color: maroon;
	outline: none;
}

.navbar-inverse .navbar-nav > .active > a {
	border-radius: 0;
	color: white;
	background-color: maroon ;
}

.avbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
      color: white;
      background-color: maroon;
}
