body { 
	background-color:#333;  
	text-align: center; 

}
.jumbotron{
	color: white;
	background-color: #a71c21;
	margin-bottom: 10px;
}
.register {
	padding-left: 65px;
	padding-right: 50px;
	padding-top: 25px;
	font-size: 171%;
	color: #333;
	background-color: white;
	text-align: center;
}

.input-group{
	width: 100%;
}
.bar {
	color:#a71c21;
	width: 34%;
	margin-bottom: 25px;
}
.space {
	margin-bottom: 25px;
}


/* NOT MY CODE, Try to replace (used for nav bar)*/
.navbar-inverse {
	background-color: #333;
}

.navbar-inverse .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
}
.navbar-inverse .nav li a:hover,s
.navbar-inverse .nav li a:focus {
	color: #a71c21;
	outline: none;
}

.navbar-inverse .navbar-nav > .active > a {
	border-radius: 0;
	color: white;
	background-color: #a71c21 ;
}

.avbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
      color: white;
      background-color: #a71c21;
}
